@tailwind base;
@tailwind components;
@tailwind utilities;


/* Typing and Deleting effect */

.typing-effect {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.1em solid #fff; /* Simulate cursor */
    animation: typing 7s steps(30) 1s forwards, erasing 2s steps(30) 8s forwards, reset 9s forwards;
    font-size: clamp(1rem, 5vw, 2rem); /* Responsive font size */
  }
  
  @keyframes typing {
    from {
      width: 0;
      opacity: 1;
    }
    to {
      width: 100%;
      opacity: 1;
    }
  }
  
  @keyframes erasing {
    from {
      width: 100%;
      opacity: 1;
    }
    to {
      width: 0;
      opacity: 0;
    }
  }
  
  @keyframes reset {
    0% {
      width: 0;
      opacity: 0;
    }
    100% {
      width: 100%;
      opacity: 1;
    }
  }
  